.alert-fixed {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.box-alert {
    max-width: 90%;
    border: 1px solid hsla(0, 0%, 100%, .14);
    background-color: #000;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.box-alert h4 {
    padding: 20px 20px 12px;
    font-size: 15px;
}

.box-alert p {
    padding: 0 20px 20px;
    font-size: 13px;
}

.box-alert .box-button {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: transparent;
    border-top: 1px solid hsla(0, 0%, 100%, .14);
    cursor: pointer;
    transition: all 0.2s ease;
}

.box-alert .box-button:hover {
    background-color: #1A1A1A;
}

.info-msg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 700px;
}

.error-msg {
    min-height: calc(100vh - 199px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-box {
    margin: 0 20px 12px;
}

.input-box input {
    width: 64%;
    padding: 6px;
    background-color: #0A0A0A;
    border-top: 1px solid hsla(0, 0%, 100%, .14);
    border-bottom: 1px solid hsla(0, 0%, 100%, .14);
    border-left: 1px solid hsla(0, 0%, 100%, .14);
    border-right: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.input-box button {
    width: 36%;
    background-color: #0A0A0A;
    border: 1px solid hsla(0, 0%, 100%, .14);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 6px 15px;
    overflow: hidden;
    cursor: pointer;
}

.input-box button:hover {
    background-color: #1A1A1A;
}