.cart-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 45px;
    font-size: 13px;
    border-top: 1px solid hsla(0, 0%, 100%, .14);
    background-color: #000;
}

.cart-price {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.cart-price .price {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cart-price .taxes {
    font-size: 11px;
    text-align: center;
}

.cart-footer .cart-button {
    height: 77px;
    width: 100%;
    max-width: 180px;
}

.cart-footer .cart-button button {
    height: 77px;
    width: 100%;
    background-color: #111111;
    border: transparent;
    border-left: 1px solid hsla(0, 0%, 100%, .14);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cart-footer .cart-button button:hover {
    background-color: #1A1A1A;
}

@media (max-width: 600px) {
    .cart-footer {
        gap: 0;
    }

    .cart-price {
        width: 50%;
    }

    .cart-footer .cart-button {
        max-width: 50%;
    }
}