footer {
    padding: 48px 24px;
    background-color: #0a0a0a;
    border-top: 1px solid hsla(0,0%,100%,.14);
}

footer nav {
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-side-group {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-side-group .stack {
    display: flex;
    gap: 15px;
}

.footer-side-group .stack span {
    font-size: 14px;
    color: #A1A1A1;
    display: flex;
    align-items: center;
}

.footer-side-group .stack svg {
    font-size: 24px;
}

.footer-group {
    width: 100%;
    max-width: 320px;
}

.footer-group h2 {
    font-weight: 500;
    font-size: 14px;
    margin: 12px 0;
}

.footer-group ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-group ul li {
    color: #888;
    padding: 6px 0;
}

.footer-group ul li a {
    font-size: 14px;
}