@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3));

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(#ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80);

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 48px 102px;
  min-height: calc(100vh - 97px);
}

.orders-img div {
  border-radius: 3px;
  overflow: hidden;
}

.orders-img img {
  width: 80px;
}

.transition-card {
  transition: transform 150ms ease;
}

.transition-card:hover {
  transform: translateY(-10px);
}

.spinner-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-center div {
  margin-right: -37px;
  margin-top: -37px;
}

.shine {
  background: linear-gradient(270deg, #111, #333, #333, #111);
  background-size: 400% 100%;
  animation: 8s shine ease-in-out infinite;
}

.swiper-wrapper {
  max-width: 250px;
}

.swiper-wrapper img {
  width: 100%;
  display: block;
  height: auto;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 15px;
  height: 1px;
  background-color: #000;
  opacity: 1;
  border-radius: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
  height: 3px;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

@media (max-width: 1080px) {
  .transition-card:hover {
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  main {
    padding: 0 24px 102px;
  }
}

@media (max-width: 350px) {
  main {
    padding: 0 14px 102px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}