header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}

header ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 14px;
}

header ul div {
    display: flex;
}

header ul svg {
    font-size: 17px;
}