.page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.order-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.order-container .order-products {
    flex-grow: 999;
    flex-basis: 0;
}

.order-container .order-details {
    flex-grow: 1;
    flex-basis: 800px;
    position: sticky;
    top: 2rem;
    max-height: 625px;
}

.page-container .order-card {
    padding: 30px 20px;
    border: 1px solid #fff;
    width: 100%;
}

.page-container .order-card h4 {
    margin-bottom: 5px;
}

.order-card .bx-imgs {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.order-card .bx-imgs img {
    max-width: 80px;
}

.order-details .bx-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.order-details .details h3 {
    margin-bottom: 20px;
}

.order-details .details:not(:last-of-type) {
    margin-bottom: 40px;
}

.order-details .details li {
    list-style: none;
    margin-top: 10px;
}

.order-details .details:not(:first-of-type) {
    padding-top: 40px;
    border-top: 1px solid #fff;
}