.products-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 15px;
    row-gap: 30px;
}

.product-card .product-img {
    width: 100%;
}

.product-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.product-card .product-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.content-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-cart .buttons {
    display: flex;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    width: min-content;
}

.buttons .add-remove,
.buttons .content {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.buttons .add-remove {
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    cursor: pointer;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
}

.buttons .content {
    font-size: 14px;
}

.color-size {
    display: flex;
    width: min-content;
}

.color-size div {
    font-size: 14px;
}

.color-size .size {
    padding-right: 10px;
    border-right: 1px #fff solid;
}

.color-size .color {
    padding-left: 10px;
}

.name-button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.name-button a {
    overflow: hidden;
}

.name-button button {
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
}

.name-button button svg {
    font-size: 20px;
}