.products-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 15px;
    row-gap: 30px;
}

.product-card {
    display: block;
}

.product-card .product-img {
    width: 100%;
}

.product-card .product-name {
    font-size: 14px;
}