.products-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 15px;
    row-gap: 30px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 100%, .14);
    border-radius: 5px;
    overflow: hidden;
}

.product-card .product-img {
    width: 100%;
    display: block;
    height: auto;
}

.product-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #0a0a0a;
    transition: all 0.2s ease;
}

.product-card:hover .product-information {
    background-color: #1A1A1A;
}

.product-card .product-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-cart .buttons {
    display: flex;
    width: min-content;
    background-color: #000;
}

.buttons .add-remove,
.buttons .content {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-top: 1px hsla(0, 0%, 100%, .14) solid;
    border-bottom: 1px hsla(0, 0%, 100%, .14) solid;
}

.buttons .add-remove {
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border: 1px hsla(0, 0%, 100%, .14) solid;
    transition: all 0.2s ease;
    overflow: hidden;
}

.buttons .add-remove:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.buttons .add-remove:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttons .add-remove:hover {
    border: 1px hsla(0, 0%, 100%, .50) solid;
}

.buttons .content {
    font-size: 14px;
}

.color-size {
    display: flex;
    width: min-content;
}

.color-size div {
    font-size: 14px;
}

.color-size .size {
    padding-right: 10px;
    border-right: 1px #fff solid;
}

.color-size .color {
    padding-left: 10px;
}

.name-button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.name-button a {
    overflow: hidden;
}

.name-button button {
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    cursor: pointer;
}

.name-button button svg {
    font-size: 18px;
}

.random-section-h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .products-section.colums-mobile {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }

    .cart-ord-mobile {
        display: flex;
        flex-direction: column;
    }

    .cart-ord-mobile .product-card {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .cart-ord-mobile .product-information {
        width: 50%;
        padding: 15px;
    }
}