.product-bx {
    min-height: calc(100vh - 147px);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.img-bx {
    flex-grow: 999;
    flex-basis: 0;
}

.bx-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}

.bx-grid div {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    max-width: 700px;
}

.bx-grid img {
    width: 100%;
    max-width: 700px;
    min-width: 280px;
    display: block;
}

.information-bx {
    height: 100%;
    width: 100%;
}

.sections-bx {
    border: 1px #fff solid;
}

.sections-bx .section {
    padding: 20px;
}

.sections-bx .section-top {
    border-bottom: 1px #fff solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.sections-bx .section-top h1 {
    font-size: 14px;
}

.section-mid .sizes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}

.section-mid .sizes .size-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #fff solid;
    padding: 8px 4px;
    background-color: transparent;
    cursor: pointer;
}

.section-mid .sizes .size-item.selected {
    background-color: #fff;
    color: #000;
}

.section-bot {
    border-top: 1px #fff solid;
}

.section-bot button {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.section-mid .colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.section-mid .colors .color-item.selected span {
    width: 10px;
    position: absolute;
    bottom: -7px;
    border-bottom: 1px solid #fff;
}

.section-mid .colors .color-item {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}

.sticky {
    flex-grow: 1;
    flex-basis: 600px;
    position: sticky;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    max-width: 850px;
}

.swiper-wrapper {
    max-width: 250px;
}

.swiper-wrapper img {
    width: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    width: 15px;
    height: 1px;
    background-color: #000;
    opacity: 1;
    border-radius: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
    height: 3px;
}