.product-bx {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.imgs-bx {
    flex-grow: 999;
    flex-basis: 0;
    z-index: 0;
}

.bx-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    position: relative;
    min-width: 560px;
}

.bx-grid .bx-image {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    max-width: 700px;
}

.bx-image .shine {
    border-radius: 5px;
}

.bx-grid img {
    width: 100%;
    height: auto;
    max-width: 700px;
    min-width: 280px;
    display: block;
    border-radius: 5px;
}

.information-bx {
    height: 100%;
    width: 100%;
}

.sections-bx {
    border: 1px hsla(0, 0%, 100%, .14) solid;
    border-radius: 5px;
    background-color: #0A0A0A;
}

.sections-bx .section {
    padding: 20px;
}

.sections-bx .section-top {
    border-bottom: 1px hsla(0, 0%, 100%, .14) solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.sections-bx .section-top h1 {
    font-size: 14px;
}

.section-mid .sizes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}

.section-mid .sizes .size-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px hsla(0, 0%, 100%, .14) solid;
    padding: 8px 4px;
    background-color: #000;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.section-mid .sizes .size-item:hover {
    border: 1px hsla(0, 0%, 100%, .50) solid;
}

.section-mid .sizes .size-item.selected {
    background-color: #fff;
    color: #000;
}

.section-bot {
    border-top: 1px hsla(0, 0%, 100%, .14) solid;
}

.section-bot button {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.section-bot button:hover {
    background-color: #1A1A1A;
}

.section-mid .colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.section-mid .colors .color-item {
    border: 1px solid hsla(0, 0%, 100%, .14);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.section-mid .colors .color-item:hover {
    border: 1px hsla(0, 0%, 100%, .50) solid;
}

.section-mid .colors .color-item.selected span {
    width: 10px;
    position: absolute;
    bottom: -7px;
    border-bottom: 1px solid #fff;
}

.section-mid .colors .color-item.selected {
    border: 1px hsla(0, 0%, 100%, .50) solid;
}

.product-img {
    max-width: 850px;
}

.expand-button {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-button button {
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #0A0A0A;
    border: 1px hsla(0, 0%, 100%, .14) solid;
    padding: 0 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.2s ease;
}

.expand-button button:hover {
    background-color: #1A1A1A;
}

.expand-button button svg {
    font-size: 24px;
    transition: all 0.1s ease;
}

.expand-button .transform svg {
    transform: rotate(180deg);
}